# **This is my first notebook!**

In [ ]:
print("Hello World")

Hello World

In [14]:
import pandas as pd

In [17]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [40]:
df=pd.read_csv('/content/drive/My Drive/Data_science_workshop/test_data.csv',index_col='sample_name')
df.head()

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [19]:
df.head()

             column0 column1 column2  column3  column4
sample_name
sample1      control     yes    0.25     0.10     0.00
sample2         case     yes     0.9     0.25     0.75
sample3      control     yes    0.43     0.23     0.02
sample4         case      no    c084     0.34     0.90

In [20]:
df['column2']

sample_name
sample1    0.25
sample2     0.9
sample3    0.43
sample4    c084
Name: column2, dtype: object

In [ ]:
df1=df[['column2','column4']]
df1.head()

            column2  column4
sample_name
sample1        0.25     0.00
sample2         0.9     0.75
sample3        0.43     0.02
sample4        c084     0.90

In [ ]:
df['column34']=df['column3']+df['column4']
df.head()

             column0 column1 column2  column3  column4  column34
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10
sample2         case     yes     0.9     0.25     0.75      1.00
sample3      control     yes    0.43     0.23     0.02      0.25
sample4         case      no    c084     0.34     0.90      1.24

In [ ]:
df['column01']=df['column0']+ "_" + df['column1']
df.head()

             column0 column1 column2  column3  column4  column34     column01
sample_name
sample1      control     yes    0.25     0.10     0.00      0.10  control_yes
sample2         case     yes     0.9     0.25     0.75      1.00     case_yes
sample3      control     yes    0.43     0.23     0.02      0.25  control_yes
sample4         case      no    c084     0.34     0.90      1.24      case_no

In [27]:
df.loc[df['column0']=='control','new_column0']=10
df.loc[df['column0']=='case','new_column0']=9
df.head()

             column0 column1 column2  column3  column4  new_column0
sample_name
sample1      control     yes    0.25     0.10     0.00         10.0
sample2         case     yes     0.9     0.25     0.75          9.0
sample3      control     yes    0.43     0.23     0.02         10.0
sample4         case      no    c084     0.34     0.90          9.0

In [28]:
df.loc[df['column0']=='control']

             column0 column1 column2  column3  column4  new_column0
sample_name
sample1      control     yes    0.25     0.10     0.00         10.0
sample3      control     yes    0.43     0.23     0.02         10.0

In [29]:
df.loc[df['column3']>0.15]

             column0 column1 column2  column3  column4  new_column0
sample_name
sample2         case     yes     0.9     0.25     0.75          9.0
sample3      control     yes    0.43     0.23     0.02         10.0
sample4         case      no    c084     0.34     0.90          9.0

In [30]:
df.dtypes

column0         object
column1         object
column2         object
column3        float64
column4        float64
new_column0    float64
dtype: object

In [33]:
df['column2']=pd.to_numeric(df['column2'], errors='coerce')
df.head()

             column0 column1  column2  column3  column4  new_column0
sample_name
sample1      control     yes     0.25     0.10     0.00         10.0
sample2         case     yes     0.90     0.25     0.75          9.0
sample3      control     yes     0.43     0.23     0.02         10.0
sample4         case      no      NaN     0.34     0.90          9.0

In [34]:
df['column2']=pd.to_numeric(df['column2'], errors='coerce')
df=df.dropna(subset=['column2'])
df.head()

             column0 column1  column2  column3  column4  new_column0
sample_name
sample1      control     yes     0.25     0.10     0.00         10.0
sample2         case     yes     0.90     0.25     0.75          9.0
sample3      control     yes     0.43     0.23     0.02         10.0

In [41]:
df['column2']=pd.to_numeric(df['column2'],errors='coerce')
df.head()

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no      NaN     0.34     0.90

In [39]:
df=df.dropna(how='any')
df.head()

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02

In [42]:
df.fillna(0)

             column0 column1  column2  column3  column4
sample_name
sample1      control     yes     0.25     0.10     0.00
sample2         case     yes     0.90     0.25     0.75
sample3      control     yes     0.43     0.23     0.02
sample4         case      no     0.00     0.34     0.90

In [47]:
df2=pd.read_csv('/content/drive/My Drive/Data_science_workshop/test_data2.csv',index_col='sample_name')
df2.head()

             age
sample_name
sample1       25
sample4       33
sample3       55

In [48]:
df_full=df.merge(df2,on='sample_name')
df_full.head()

             column0 column1  column2  column3  column4  age
sample_name
sample1      control     yes     0.25     0.10     0.00   25
sample3      control     yes     0.43     0.23     0.02   55
sample4         case      no      NaN     0.34     0.90   33

In [51]:
df_full=df.merge(df2,on='sample_name',how='outer')
df_full.head()

             column0 column1  column2  column3  column4   age
sample_name
sample1      control     yes     0.25     0.10     0.00  25.0
sample2         case     yes     0.90     0.25     0.75   NaN
sample3      control     yes     0.43     0.23     0.02  55.0
sample4         case      no      NaN     0.34     0.90  33.0

In [53]:
df_full.loc[df_full['age'] >25, 'age_cat'] = 'gt10'
df_full.loc[df_full['age'] <=25, 'age_cat'] = 'lt10'
df_full.head()

             column0 column1  column2  column3  column4   age age_cat
sample_name
sample1      control     yes     0.25     0.10     0.00  25.0    lt10
sample2         case     yes     0.90     0.25     0.75   NaN     NaN
sample3      control     yes     0.43     0.23     0.02  55.0    gt10
sample4         case      no      NaN     0.34     0.90  33.0    gt10

In [54]:
df_full.groupby('column0').mean()

         column2  column3  column4   age
column0
case        0.90    0.295    0.825  33.0
control     0.34    0.165    0.010  40.0

In [56]:
df_full.groupby(['column0','age_cat']).mean()

                 column2  column3  column4   age
column0 age_cat
case    gt10         NaN     0.34     0.90  33.0
control gt10        0.43     0.23     0.02  55.0
        lt10        0.25     0.10     0.00  25.0

In [58]:
df_full.to_csv('/content/drive/My Drive/Data_science_workshop/test_data_full.csv')